# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de entorno
.env

# Base de datos (Django)
db.sqlite3

# Archivos estáticos compilados
staticfiles/

# VS Code (opcional)
.vscode/