DATABASE_SERVER=localhost
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_PORT=3306
DATABASE_DB=therian_music_project
DEBUG=True
BASE_URL=http://127.0.0.1:8000/
FRONTEND_URL=http://localhost:5173

SMTP_SERVER=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=c2e17d3ad15bc0
SMTP_PASSWORD=097d696219c483

#DATABASE_SERVER=
#DATABASE_USER=
#DATABASE_PASSWORD=
#DATABASE_PORT=
#DATABASE_DB=
#DEBUG=
#BASE_URL=
#BASE_URL_FRONTEND=

#SMTP_SERVER=
#SMTP_PORT=
#SMTP_USER=
#SMTP_PASSWORD=
#DB_PORT=
